include pyproject.toml
include python-package.yml

# Exclude GitHub pages _config
exclude _config.yml

# Include the README
include *.md

# Include the license file
include LICENSE
include LICENCE

# Include the data files
recursive-include data *

# added by check_manifest.py
include *.gif
include *.png
include *.svg
include tox.ini
recursive-include cloudtransfer *.APACHE
recursive-include cloudtransfer *.BSD
recursive-include cloudtransfer *.PSF
recursive-include cloudtransfer *.bat
recursive-include cloudtransfer *.c
recursive-include cloudtransfer *.cfg
recursive-include cloudtransfer *.dll
recursive-include cloudtransfer *.exe
recursive-include cloudtransfer *.h
recursive-include cloudtransfer *.json
recursive-include cloudtransfer *.md
recursive-include cloudtransfer *.pem
recursive-include cloudtransfer *.ps1
recursive-include cloudtransfer *.pxd
recursive-include cloudtransfer *.pxi
recursive-include cloudtransfer *.py
recursive-include cloudtransfer *.pyc
recursive-include cloudtransfer *.pyd
recursive-include cloudtransfer *.pyi
recursive-include cloudtransfer *.pyx
recursive-include cloudtransfer *.rst
recursive-include cloudtransfer *.sh
recursive-include cloudtransfer *.tab
recursive-include cloudtransfer *.tmpl
recursive-include cloudtransfer *.txt
recursive-include cloudtransfer *.typed
recursive-include cloudtransfer *.xml
recursive-include cloudtransfer *.zi
recursive-include src *.dat
recursive-include tests *.py
